$header-image:"../img/m-h-day.jpg";
$button-color:#699900;
$footer-color: #21232e;
$text-color:#b6bece;
$gradient-color:#3260c3;
$body-color:#fff;
$header-text:#21232e;
$word-fon:#14a0c7;
$fonts: (first-font: #{'Source Sans Pro', sans-serif},
second-font: #{Hind,sans-serif});