$header-image:"../img/m-h-night.jpg";
$button-color:#e3ac00;
$footer-color: #3b3f50;
$text-color:#b6bece;
$gradient-color:#922b53;
$body-color:#21232e;
$header-text:#fff;
$word-fon:#ff4e33;
$fonts: (first-font: #{'Source Sans Pro', sans-serif},
second-font: #{Fresca, sans-serif});